img.planets-image {
  width: 100%;
  object-fit: cover;
}

.image-container {
  position: relative;
  width: 100%;
}

.overlay-text {
  text-transform: uppercase;
  font-size: 1.2em;
  color: white;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.welcome-h1 {
  background: var(--orange);
}

.welcome-text {
  width: 100%;
  padding: 0px 20px;
}

.museum-image {
  width: 60%;
  padding: 20px;
}

.information-wrapper {
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

i.clock-icon,
i.ticket-icon,
i.pin-icon {
  color: white;
}

.opening-info,
.ticket-info,
.location-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px 0px;
}

.information-text {
  font-family: var(--font-header);
  font-weight: bold;
  color: white;
}

a.information-text {
  font-size: 1.2em;
}
