img.planets-image {
  width: 100%;
  object-fit: cover;
}

.image-container {
  position: relative;
  width: 100%;
}

.overlay-text {
  text-transform: uppercase;
  font-size: 0.8em;
  color: white;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.welcome-text {
  width: 100%;
  padding: 0px 20px;
}

.museum-image {
  width: 70%;
  padding: 20px;
}

.information-wrapper {
  background: black;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

i.clock-icon,
i.ticket-icon,
i.pin-icon {
  color: white;
}

.opening-info,
.ticket-info,
.location-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 5px 0px;
}

.information-text {
  font-family: var(--font-header);
  font-weight: bold;
  color: white;
}

.index-categories {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr repeat(6);
  grid-area: "cat-exhibitions" "cat-explore" "cat-news" "cat-kids" "cat-library" "cat-info";
  padding: 40px 0px;
}

@media (min-width: 550px) {
  .overlay-text {
    font-size: 1em;
  }
}

@media (min-width: 685px) {
  .information-wrapper {
    flex-direction: row;
  }

  .museum-image {
    width: 60%;
  }

  .opening-info,
  .ticket-info,
  .location-info {
    gap: 10px;
    padding: 10px 0px;
  }

  .index-categories {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1f;
    grid-area: "cat-exhibitions cat-explore" "cat-news cat-kids" "cat-library cat-info";
  }
}

@media (min-width: 750px) {
  .information-wrapper {
    font-size: 1.2em;
  }
}

@media (min-width: 950px) {
  .welcome-wrapper {
    flex-direction: row;
  }

  .index-categories {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-area: "cat-exhibitions cat-explore cat-news" "cat-kids cat-library cat-info";
  }
}
