.kids-categories {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-area: "special" "night";
  padding: 40px 0px;
}

.kids-exhibitions {
  margin: 0px;
  padding-top: 40px;
}

@media (min-width: 820px) {
  .kids-categories {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-area: "special" "night";
  }
}
