.kids-categories {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-area: "special" "night";
  padding: 40px 0px;
}

img.kids-image {
  width: 70%;
}

@media (min-width: 820px) {
  .kids-categories {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-area: "special" "night";
  }
}

@media (min-width: 1000px) {
  img.kids-image {
    width: 60%;
  }
}
