@import "imports/links.css";
@import "imports/icons.css";
@import "imports/variables.css";
@import "imports/images.css";
@import "imports/text.css";
@import "imports/content.css";
@import "imports/categories.css";

.background-color {
  background: var(--white);
  background-size: cover;
  max-width: 100%;
}

main {
  min-height: 100vh;
}

body {
  font-family: var(--font-paragraph);
  min-height: 100vh;
  margin: 0px;
}

div {
  display: flex;
}

/*Nav and footer*/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header,
nav,
footer {
  background-color: white;
}

nav {
  display: none;
  position: absolute;
  top: 88px;
  z-index: 1000;
  right: 0px;
}

nav ul {
  margin: 20px;
  padding: 0px;
}

nav li {
  display: block;
  padding: 15px 20px;
  text-align: center;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding: 30px 0px 10px 0px;
  margin: 0px;
}

@media (min-width: 820px) {
  footer {
    padding: 30px 0px 10px 0px;
  }
}
