@import "imports/links.css";
@import "imports/icons.css";
@import "imports/variables.css";
@import "imports/forms.css";
@import "imports/image.css";
@import "imports/text.css";
@import "imports/categories.css";

.background-color {
  background: var(--white);
  background-size: cover;
  max-width: 100%;
}

main {
  min-height: 100vh;
}

body {
  font-family: var(--font-paragraph);
  min-height: 100vh;
  margin: 0px;
}

div {
  display: flex;
}

/*Text*/
h1,
h2,
h3,
a,
footer,
.overlay-text,
.cta {
  font-family: var(--font-header);
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 1.3em;
}

h2,
h3 {
  font-size: 1.1em;
}

p,
nav a,
a.information-text {
  font-size: 1em;
  text-align: center;
}

footer p,
footer a {
  font-size: 0.8em;
}

footer p {
  margin: 0px;
}

h1,
nav a,
.cta,
.wrapper-header {
  text-transform: uppercase;
}

/*Content-wrappers*/
.wrapper-header {
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.text-wrapper__left,
.text-wrapper__right {
  flex: 1;
}

.image-wrapper__right,
.image-wrapper__left {
  padding: 20px 0px;
  flex: 1;
}

.content-wrapper__left--right,
.content-wrapper__right--left,
.content-wrapper__middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

/*Nav and footer*/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header,
nav,
footer {
  background-color: white;
}

nav {
  display: none;
  position: absolute;
  top: 88px;
  z-index: 1000;
  right: 0px;
}

nav ul {
  margin: 20px;
  padding: 0px;
}

nav li {
  display: block;
  padding: 15px 20px;
  text-align: center;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding: 30px 0px 10px 0px;
  margin: 0px;
}

@media (min-width: 820px) {
  h1 {
    font-size: 1.5em;
  }

  h2,
  h3 {
    font-size: 1.3em;
  }

  p,
  nav a,
  .a-information-text {
    font-size: 1.1em;
  }

  footer p,
  footer a {
    font-size: 1em;
  }
  footer {
    padding: 30px 0px 10px 0px;
  }
}

@media (min-width: 1000px) {
  .content-wrapper__left--right {
    flex-direction: row;
    padding: 20px 10px;
  }
  .content-wrapper__right--left {
    flex-direction: row-reverse;
  }
}
