@import "imports/links.css";
@import "imports/icons.css";
@import "imports/variables.css";
@import "imports/forms.css";

.background-color {
  background: var(--white);
  background-size: cover;
  max-width: 100%;
}

main {
  min-height: 100vh;
}

img {
  width: 100%;
}

body {
  font-family: var(--font-paragraph);
  min-height: 100vh;
  margin: 0px;
}

h1,
h2,
nav a,
footer,
.overlay-text,
.cta {
  font-family: var(--font-header);
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 1.4em;
}

p {
  font-size: 1em;
  text-align: center;
}

h1,
h2,
nav a,
.cta {
  text-transform: uppercase;
}

.h1-wrapper {
  background: var(--orange);
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.logo {
  width: 466px;
  height: 136px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header,
nav,
footer {
  background-color: white;
}

nav {
  display: none;
  position: absolute;
  top: 136px;
  z-index: 1000;
  right: 0px;
}

nav ul {
  margin: 20px;
  padding: 0px;
}

nav li {
  display: block;
  padding: 10px 20px;
  text-align: center;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.hamburger-icon {
  padding-right: 15px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding: 5px 0px;
}

footer p {
  margin: 0px;
}

.some-icons {
  display: inline;
  padding: 10px 0px;
}
