.category-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 40px 40px 40px;
}

.category-image {
  max-width: 100%;
}

.category-text {
  padding: 5px;
}

.cat-exhibitions {
  background: var(--orange);
}

.cat-explore {
  background: var(--green);
}

.cat-events {
  background: var(--light-blue);
}

.cat-kids {
  background: var(--navy-blue);
}

.cat-library {
  background: var(--purple);
}

.cat-info {
  background: black;
}

.category-wrapper__exhibitions {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-area: "special" "biology" "cosmology" "ecology" "evolution" "robotics";
  padding: 40px 0px;
}

.category-wrapper__explore {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-area: "exhibition" "news";
  padding: 40px 0px;
}

@media (min-width: 820px) {
  .category-wrapper__explore {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-area: "exhibition" "news";
  }
}

@media (min-width: 1000px) {
  .category-wrapper__exhibitions {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-area: "special biology" "cosmology ecology" "evolution robotics";
  }
}
