img {
  width: 100%;
  object-fit: cover;
}

.image-wrapper {
  justify-content: center;
  align-items: center;
}

.image-wrapper__right,
.image-wrapper__left {
  padding: 20px 0px;
  flex: 1;
}

img.teacher {
  width: 70%;
}
