img {
  width: 100%;
  object-fit: cover;
}

.image-library {
  width: 80%;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

img.researchers-image {
  width: 80%;
}

.image-wrapper__news {
  padding: 20px 20px;
}
