.cta {
  background: black;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  width: 100%;
  max-width: 250px;
  padding: 10px 40px;
  box-sizing: border-box;
  border: 2px solid black;
}

.cta-wrapper {
  padding: 0px;
  display: flex;
  align-items: center;
}

.cta:hover {
  background: white;
  color: black;
  border: 2px solid black;
}

.cta-kids {
  background-color: var(--navy-blue);
  border: 2px solid var(--navy-blue);
}

.cta-kids:hover {
  color: var(--navy-blue);
  border: 2px solid var(--navy-blue);
}

@media (min-width: 500px) {
  .cta {
    font-size: 1.2em;
  }
}
