a {
  text-decoration: none;
}

nav a,
footer a {
  color: black;
}

nav a {
  font-size: 1.2em;
}

a:hover {
  color: var(--orange);
}

.cta {
  background: black;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  width: 100%;
  padding: 10px 40px;
  box-sizing: border-box;
}

.cta-wrapper {
  padding: 10px;
}

.cta:hover {
  background: white;
  color: black;
  border: 3px solid black;
}

.cta-kids {
  background-color: var(--navy-blue);
}

.cta-kids:hover {
  color: var(--navy-blue);
  border: 3px solid var(--navy-blue);
}

@media (min-width: 500px) {
  .cta {
    font-size: 1.2em;
  }
}
