:root {
  --orange: #d92b04;
  --purple: #94076c;
  --green: #0e6100;
  --light-blue: #047bc4;
  --navy-blue: #0442bf;
  --font-header: Verdana, Geneva, Tahoma, sans-serif;
  --font-paragraph: "Montserrat", sans-serif, Verdana, Helvetica, Geneva, Tahoma, sans-serif;
}
